certifi==2020.4.5.1
chardet==3.0.4
decorator==4.4.2
future==0.18.2
idna==2.9
networkx==2.4
numpy==1.18.2
pandas==1.0.3
pygraphviz==1.5
python-dateutil==2.8.1
python-igraph==0.8.0
pytz==2019.3
requests==2.23.0
scipy==1.4.1
six==1.14.0
texttable==1.6.2
tornado==6.0.4
urllib3==1.25.8
